input {
    border: 1px solid black;
    font-size: 50px;
    border-collapse: collapse;
    background-color: white
}

body {
    background-color: lightgrey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-size: 60px;
}

#tasks {
    font-size: 50px;
}

.fa-trash {
    color: black;
    font-size: 30px
}

.checkbox {
    font-size: 50px;
    size: 50px;
    margin: 10px;
    border: 0px;
    height: 30px;
    width: 30px;
}

.taskText {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#number{
    font-size: 30px;
}