body {
    background-color: rgb(255, 255, 255);
    margin: 0px;
    
}

main {
    margin-left: 150px;
    margin-right: 150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.imgsize1 {
   height: 250px;

}

.clipsize1 {
    height: 250px;

}

.navigation1 {
    display: inline;
    text-decoration: none;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    margin-top: 70px;
    margin: 20px;
}

#navcontact {
    margin-right: 150px;
}

#navlogo {
    margin-left: 150px;
    
}


a:hover {
    color: white;
    text-decoration: underline;
}
   

a {
    
    
    text-decoration: none;
    color: gray;
    
    
}

footer {
    background-color: rgb(218, 217, 217);
    display: flex;
    justify-content: space-between;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

#logo {
    width: 100px;
    height: 100px;
    float: left;
    margin-top: 0px;
}

html {
    border: 0px;
}

    
    

    


nav {
    
    block-size: 800px;
    background-image: url(lovecraft.png);
    background-repeat: no-repeat;
    background-size: 1600px;
    padding: 0px 50px;
    
}

ul {
    text-align: right;
    
}

header {
    padding: 0px;
    margin-top: -20px;
   
}
.footer1 {
    color: grey;
    text-align: left;
    list-style-type: none;
    margin-left: 150px;

}

#footer1text {
   
}
.footer2 {
    color: grey;
    text-align: center;
    list-style-type: none;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    display: inline-flex;
}

#footer2text {
    display: block;
    width: 80px;
}
.footer3 {
    color: grey;
    text-align: right;
    list-style-type: none;
    margin-right: 300px;
}
input {
    
    background-color: gray;
    margin: 10px;
    width: 500px;
    color: white;
    border: none;
    
}

#input1 {
    height: 20px;
    
}

#input2 {
    height: 20px;
}

#input3 {
    height: 170px;
    
    
}

#button1 {
    width: 60px;
}

::placeholder {
    color: white;
    position: fixed;
}
:focus {
    outline: none;
}